@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 1160px;
  padding-right: 40px;
}
@media screen and (max-width: 1024px) {
  .inner {
    padding-inline: 20px;
  }
}

.page-inner {
  width: 953px;
}
@media screen and (max-width: 1024px) {
  .page-inner {
    width: 100%;
    padding-inline: 20px;
  }
}

.sp-br {
  display: none;
}
@media screen and (max-width: 820px) {
  .sp-br {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .pc-br {
    display: none;
  }
}

.section-title-jp {
  display: block;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .section-title-jp {
    font-size: 20px;
  }
}

.section-title-en {
  display: block;
  margin-top: 20px;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 128px;
  font-weight: bold;
  -webkit-text-stroke: 1px #4282B8;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .section-title-en {
    font-size: 72px;
  }
}

.h2-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .h2-title {
    font-size: 32px;
  }
}

.h3-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .h3-title {
    font-size: 24px;
  }
}

.h4-title {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .h4-title {
    font-size: 20px;
  }
}

.btn-more {
  display: block;
  width: 240px;
  padding: 22px 0;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  line-height: 1;
  position: relative;
  transition: 0.3s;
}
.btn-more::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 25px;
}
.btn-more:hover {
  background: #000000;
  color: #fff;
}
.btn-more:hover::after {
  width: 14px;
  height: 14px;
  background: #fff;
  top: 23px;
  right: 23px;
}

.top-contact__btn {
  width: 284px;
  background-color: #fff;
  position: relative;
  -moz-text-align-last: left;
       text-align-last: left;
  padding-left: 68px;
}
.top-contact__btn::before {
  content: "";
  background: url(../img/main-icon.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 40px;
}
.top-contact__btn:hover::before {
  filter: brightness(0) invert(1);
}

.btn-down {
  display: block;
  width: 208px;
  padding: 11px 0 34px 0;
  border: 1px solid #4282B8;
  border-radius: 10px;
  border-radius: 10px;
  color: #000000;
  line-height: 1;
  text-align: center;
  position: relative;
  transition: 0.3s;
}
.btn-down::after {
  content: "";
  background: url(../img/down-icon.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: 11px;
  transform: translateX(-50%);
}
.btn-down:hover {
  background: #4282B8;
  color: #fff;
}
.btn-down:hover::after {
  filter: brightness(0) invert(1);
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #333;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fv {
  padding-top: 40px;
  position: relative;
}

.fv-box {
  width: calc(100% - 40px);
  aspect-ratio: 1688/965;
  border-radius: 50px;
}
@media screen and (max-width: 1024px) {
  .fv-box {
    width: calc(100% - 10px);
    margin: 62px 0 0 10px;
    border-radius: 10px 0px 0px 10px;
  }
}
.fv-box::before {
  content: "";
  display: block;
  width: 62.6724137931%;
  aspect-ratio: 727/563;
  background: #4282B8;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .fv-box::before {
    display: none;
  }
}
.fv-box img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.intro {
  margin-top: 64px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin-top: 126px;
  }
}
.intro::after {
  content: "";
  background: url(../img/about-img.png);
  background-size: contain;
  width: 165px;
  height: 198px;
  position: absolute;
  top: 0;
  left: 538px;
}
@media screen and (max-width: 1024px) {
  .intro::after {
    width: 65px;
    height: 78px;
    left: 266px;
    top: -62px;
  }
}

.intro__text {
  width: 422px;
  margin-top: 64px;
}
@media screen and (max-width: 1024px) {
  .intro__text {
    margin-top: 40px;
  }
}

.intro__list {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .intro__list {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
  }
}

body {
  font-size: 16px;
  line-height: 1.8;
  color: #000000;
  font-family: "Zen Kaku Gothic New", sans-serif;
  counter-reset: number;
}

.main {
  width: 80.5%;
  margin-left: 19.5%;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 820px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
  }
}

.header {
  padding-top: 74px;
  padding-inline: 40px;
  line-height: 1;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}
@media screen and (max-width: 1400px) {
  .header {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 79px;
    padding: 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  width: 200px;
  aspect-ratio: 200/121;
  margin-inline: auto;
}
@media screen and (max-width: 1200px) {
  .header__logo {
    width: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 98px;
    height: 59px;
    margin: 0;
    padding-top: 10px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__logo a {
  transition: 0.3s;
}
.header__logo a:hover {
  opacity: 0.7;
}

.header__nav {
  width: 200px;
  margin-top: 25px;
  margin-inline: auto;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .header__nav {
    width: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__nav-item {
  width: inherit;
  border-bottom: 1px solid #B1C6DC;
  position: relative;
}
.header__nav-item a {
  padding: 32px 0;
  display: block;
  color: #000000;
  font-size: 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .header__nav-item a {
    font-size: 16px;
  }
}
.header__nav-item a:hover {
  opacity: 0.7;
}

.header__nav-title {
  padding: 32px 0;
  display: block;
  color: #000000;
  font-size: 20px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .header__nav-title {
    font-size: 16px;
  }
}

.header__nav-title::before,
.header__nav-title::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  background-color: #4282B8;
}

.header__nav-title::before {
  top: 42px;
  right: 0;
  transform: rotate(0deg);
}

.header__nav-title::after {
  top: 42px;
  right: 0;
  transform: rotate(90deg);
}

/* closeというクラスがついたら形状変化 */
.header__nav-item.open .header__nav-title::after {
  display: none;
}

.header__about-list,
.header__service-list {
  display: none;
  padding: 20px 0 20px 17px;
  border-bottom: 1px solid #B1C6DC;
}

.header__about-item,
.header__service-item {
  font-size: 14px;
}
.header__about-item a,
.header__service-item a {
  font-size: 14px;
  display: block;
  padding: 12px 0;
  color: #000000;
  transition: 0.3s;
}
.header__about-item a:hover,
.header__service-item a:hover {
  opacity: 0.7;
}

.header__nav-contact img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  vertical-align: top;
}

.sub-menu {
  display: none; /* 初期状態で非表示 */
}

.header__nav-item.open .sub-menu {
  display: block; /* openクラスが付いている場合は表示 */
}

/*========= ナビゲーションのためのCSS ===============*/
.g-nav {
  pointer-events: none;
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 79px;
  width: 100%;
  height: calc(100vh - 79px);
  /*ナビの高さ*/
  background: #fff;
  /*動き*/
  transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
.g-nav.panelactive {
  opacity: 1;
  z-index: 999;
  pointer-events: all;
}

/*ナビゲーション*/
.g-nav-list {
  display: none;
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.g-nav.panelactive ul {
  display: block;
}

.g-nav-item a {
  color: #000000;
  display: block;
  padding: 16px 0;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: 0.3s;
}
.g-nav-item a:hover {
  opacity: 0.7;
}

.g-nav-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: text-bottom;
}

.g-nav-small {
  margin-top: 10px;
}

/*========= ボタンのためのCSS ===============*/
.menu-btn {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-btn {
    display: block;
    cursor: pointer;
    width: 56px;
    height: 48px;
    background: #4282B8;
    position: relative;
  }
}

/*×に変化*/
.menu-btn span {
  display: inline-block;
  width: 32px;
  height: 1px;
  background-color: #fff;
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu-btn span:nth-of-type(1) {
  top: 12px;
}

.menu-btn span:nth-of-type(2) {
  top: 24px;
}

.menu-btn span:nth-of-type(3) {
  top: 36px;
}

.menu-btn.active span:nth-of-type(1) {
  top: 18px;
  transform: translateX(-50%) translateY(6px) rotate(-45deg);
}

.menu-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-btn.active span:nth-of-type(3) {
  top: 30px;
  transform: translateX(-50%) translateY(-6px) rotate(45deg);
}

.footer {
  width: 80.5%;
  margin-left: 19.5%;
  padding: 33px 0 47px 0;
  line-height: 1;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    margin-left: 0;
    padding: 24px 0;
    text-align: center;
  }
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 40px;
}
@media screen and (max-width: 1024px) {
  .footer__inner {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 1440px) {
  .footer__inner {
    justify-content: start;
    gap: 109px;
  }
}

.footer__logo {
  width: 222px;
  height: 133px;
}
@media screen and (max-width: 1024px) {
  .footer__logo {
    margin-inline: auto;
  }
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__address {
  display: inline-block;
  margin-top: 39px;
  margin-right: 16px;
}
@media screen and (max-width: 1024px) {
  .footer__address {
    display: block;
    margin-top: 0;
    margin-right: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__address:nth-child(1) {
    margin-top: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__address:nth-child(2) {
    margin-top: 20px;
  }
}

.address-box {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
@media screen and (max-width: 1024px) {
  .address-box {
    margin-top: 20px;
    margin-inline: auto;
    justify-content: center;
    font-size: 12px;
  }
}

.address-desc {
  margin-left: 16px;
}

.footer__nav {
  width: 528px;
  padding-top: 25px;
}
@media screen and (max-width: 1024px) {
  .footer__nav {
    width: 100%;
    padding-top: 0;
    margin-top: 66px;
  }
}

.footer__nav-item {
  display: inline-block;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .footer__nav-item {
    display: block;
    margin-bottom: 32px;
  }
}
.footer__nav-item a {
  font-weight: bold;
  color: #000000;
}
.footer__nav-item a:hover {
  -webkit-text-decoration: underline #B1C6DC;
          text-decoration: underline #B1C6DC;
  text-underline-offset: 8px;
}

.footer__nav-item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (max-width: 1024px) {
  .footer__nav-item:not(:last-child) {
    margin-right: 0;
  }
}

.footer__nav-contact img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.footer__small {
  position: absolute;
  right: 56px;
  bottom: 26px;
  font-size: 14px;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .footer__small {
    font-size: 12px;
    position: inherit;
    margin-top: 26px;
  }
}

.main-visual {
  padding-top: 40px;
}

.main-visual__contents {
  background: #F8F8F8;
  width: calc(100% - 40px);
  aspect-ratio: 1120/873;
  border-radius: 50px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .main-visual__contents {
    width: calc(100% - 10px);
    aspect-ratio: 365/589;
    border-radius: 10px 0px 0px 10px;
    margin: 62px 0 0 10px;
  }
}
.main-visual__contents::before {
  content: "";
  display: block;
  width: 62.6724137931%;
  aspect-ratio: 1/1;
  background: #4282B8;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .main-visual__contents::before {
    display: none;
  }
}

.main-visual__img {
  position: absolute;
}
.main-visual__img img {
  width: 100%;
  height: 100%;
}

.main-visual__img:nth-child(1) {
  width: 17.4107142857%;
  aspect-ratio: 195/222;
  top: 7.4455899198%;
  left: 6.3392857143%;
}
@media screen and (max-width: 1024px) {
  .main-visual__img:nth-child(1) {
    width: 28.2191780822%;
    aspect-ratio: 103/118;
    top: 1.6977928693%;
    left: 4.3835616438%;
  }
}

.main-visual__img:nth-child(2) {
  width: 22.8571428571%;
  aspect-ratio: 256/252;
  top: 7.3310423826%;
  right: 4.9107142857%;
}
@media screen and (max-width: 1024px) {
  .main-visual__img:nth-child(2) {
    width: 36.7123287671%;
    aspect-ratio: 134/131;
    top: 5.2631578947%;
    right: 3.2876712329%;
  }
}

.main-visual__img:nth-child(3) {
  width: 28.0357142857%;
  aspect-ratio: 314/416;
  left: 7.7678571429%;
  bottom: 5.8419243986%;
}
@media screen and (max-width: 1024px) {
  .main-visual__img:nth-child(3) {
    width: 30.1369863014%;
    aspect-ratio: 110/147;
    left: 4.9315068493%;
    bottom: 35.8234295416%;
  }
}

.main-visual__img:nth-child(4) {
  width: 18.3928571429%;
  aspect-ratio: 206/235;
  top: 36.5406643757%;
  left: 40.8035714286%;
}
@media screen and (max-width: 1024px) {
  .main-visual__img:nth-child(4) {
    width: 22.4657534247%;
    aspect-ratio: 82/94;
    top: 39.8981324278%;
    left: 38.904109589%;
  }
}

.main-visual__img:nth-child(5) {
  width: 14.4642857143%;
  aspect-ratio: 162/187;
  right: 5%;
  bottom: 33.9060710195%;
}
@media screen and (max-width: 1024px) {
  .main-visual__img:nth-child(5) {
    width: 24.1095890411%;
    aspect-ratio: 88/101;
    right: 3.2876712329%;
    bottom: 36.8421052632%;
  }
}

.top-main-visual__text-box {
  position: absolute;
  bottom: 7.2164948454%;
  right: 11.3392857143%;
}
@media screen and (max-width: 1024px) {
  .top-main-visual__text-box {
    bottom: 10.1867572156%;
    right: auto;
    left: 2.4%;
  }
}

.main-visual__catch {
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  padding: 14px;
  margin-left: 14px;
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .main-visual__catch {
    padding: 14px 13px;
    margin-left: 13px;
    font-size: 24px;
  }
}

.main-visual__text {
  margin-top: 35px;
  font-weight: bold;
  line-height: 2;
}
@media screen and (max-width: 1024px) {
  .main-visual__text {
    font-size: 12px;
    right: auto;
  }
}

.scrolldown {
  color: #4282B8;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 64px;
  left: 18px;
}
@media screen and (max-width: 1024px) {
  .scrolldown {
    bottom: 35px;
    left: 9px;
  }
}
@media screen and (min-width: 1441px) {
  .scrolldown {
    font-size: 14px;
  }
}
.scrolldown::after {
  content: "";
  width: 1px;
  height: 112px;
  background: #4282B8;
  position: absolute;
  left: 50%;
  bottom: -120px;
  animation: scrollAnimation 2.4s ease-out infinite;
}
@media screen and (max-width: 1024px) {
  .scrolldown::after {
    height: 52px;
    bottom: -60px;
  }
}

@keyframes scrollAnimation {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(1);
    transform-origin: top;
  }
  50.1% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
.top-about {
  margin-top: 76px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .top-about {
    margin-top: 73px;
  }
}

.top-about__slider-contents {
  background: #F8F8F8;
  height: 486px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .top-about__slider-contents {
    height: 274px;
  }
}

.swiper {
  width: 100%;
  height: 360px;
}

.swiper-slide {
  width: 360px;
  height: 360px;
  margin-right: 48px;
}
@media screen and (max-width: 1024px) {
  .swiper-slide {
    width: 200px;
    height: 200px;
  }
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-about__title {
  margin-top: 71px;
}
@media screen and (max-width: 1024px) {
  .top-about__title {
    margin-top: 126px;
  }
}

.top-about__catch-box {
  background: #F8F8F8;
  width: 172px;
  height: 452px;
  position: absolute;
  top: 254px;
  left: 69.4827586207%;
  z-index: 10;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .top-about__catch-box {
    width: 112px;
    height: 284px;
    top: 116px;
    right: 27px;
  }
}
.top-about__catch-box::before {
  content: "";
  width: 161px;
  aspect-ratio: 161/213;
  background: url(../img/about.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 198px;
  left: -181px;
}
@media screen and (max-width: 1200px) {
  .top-about__catch-box::before {
    width: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .top-about__catch-box::before {
    width: 60px;
    height: 80px;
    top: 142px;
    left: -69px;
  }
}

.top-about__catch {
  height: 100%;
  padding-top: 16px;
  writing-mode: vertical-rl;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.5em;
}
@media screen and (max-width: 1024px) {
  .top-about__catch {
    font-size: 24px;
  }
}
.top-about__catch span {
  color: #4282B8;
}

.top-about__text {
  width: 429px;
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .top-about__text {
    width: 100%;
    font-size: 14px;
  }
}

.top-about-btn {
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .top-about-btn {
    margin-top: 32px;
  }
}

.top-service {
  margin-top: 85px;
  height: auto;
  position: relative;
  padding: 49px 0 100px 0;
}
@media screen and (max-width: 1024px) {
  .top-service {
    margin-top: 52px;
    padding: 26px 0 91px 0;
  }
}
.top-service::before {
  content: "";
  background: url(../img/service-img.png) no-repeat;
  background-size: contain;
  width: 124px;
  aspect-ratio: 124/172;
  position: absolute;
  top: 93px;
  left: 73.9655172414%;
}
@media screen and (max-width: 1024px) {
  .top-service::before {
    width: 69px;
    aspect-ratio: 69/96;
    top: -48px;
    left: auto;
    right: 20px;
  }
}
.top-service::after {
  content: "";
  background: #F8F8F8;
  width: 83.4482758621%;
  height: 100%;
  border-radius: 50px 0px 0px 50px;
  position: absolute;
  top: 0;
  left: 16.5517241379%;
  z-index: -20;
}
@media screen and (max-width: 1024px) {
  .top-service::after {
    width: 73.3333333333%;
    left: 26.6666666667%;
  }
}

.top-service__inner {
  max-width: 1045px;
}

.top-service__list {
  margin-top: 64px;
}
@media screen and (max-width: 1024px) {
  .top-service__list {
    margin-top: 24px;
  }
}

.top-service__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .top-service__item {
    flex-direction: column;
    gap: 34px;
  }
}
.top-service__item:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) {
  .top-service__item:nth-child(even) {
    flex-direction: column;
  }
}
.top-service__item:nth-child(even) .top-service__contents::after {
  left: 72.0930232558%;
}
@media screen and (max-width: 1300px) {
  .top-service__item:nth-child(even) .top-service__contents::after {
    left: 67.4418604651%;
  }
}
@media screen and (max-width: 1120px) {
  .top-service__item:nth-child(even) .top-service__contents::after {
    left: 62.7906976744%;
  }
}
@media screen and (max-width: 1024px) {
  .top-service__item:nth-child(even) .top-service__contents::after {
    left: auto;
    right: 0;
  }
}

.top-service__item + .top-service__item {
  margin-top: 92px;
}
@media screen and (max-width: 1024px) {
  .top-service__item + .top-service__item {
    margin-top: 50px;
  }
}

.top-service__img-box {
  width: 51%;
  aspect-ratio: 516/464;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .top-service__img-box {
    width: 100%;
    aspect-ratio: 335/301;
  }
}
.top-service__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-service__contents {
  width: 43%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .top-service__contents {
    width: 100%;
  }
}
.top-service__contents::after {
  counter-increment: number 1;
  content: "0" counter(number);
  color: #B1C6DC;
  font-family: "Kanit", sans-serif;
  font-size: 168px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 0;
  left: -93px;
  z-index: -10;
}
@media screen and (max-width: 1024px) {
  .top-service__contents::after {
    font-size: 48px;
    top: 0;
    left: auto;
    right: 0;
  }
}

.top-service__sub-title {
  display: inline-block;
  margin-top: 168px;
  padding: 10px 16px;
  background: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .top-service__sub-title {
    margin-top: 0;
  }
}

.top-service__text {
  margin-top: 48px;
}
@media screen and (max-width: 1024px) {
  .top-service__text {
    margin-top: 26px;
  }
}

.top-service__btn {
  margin-top: 28px;
}

.text-top {
  margin-top: 35px;
}

.top-news {
  margin-top: 107px;
  padding-right: 40px;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .top-news {
    margin-top: 85px;
    padding-inline: 20px;
  }
}

.top-news__article {
  margin-top: 48px;
}

.top-news__item {
  border-top: 1px solid #B1C6DC;
  border-bottom: 1px solid #B1C6DC;
}

.top-news__link {
  display: block;
  width: calc(100% - 70px);
  padding: 32px 0;
  text-align: left;
  transition: 0.3s;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .top-news__link {
    width: calc(100% - 24px);
    padding: 16px 0;
  }
}
.top-news__link::after {
  content: "";
  background: url(../img/arrow-icon-right.png) no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -43px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .top-news__link::after {
    right: -24px;
  }
}
.top-news__link:hover {
  opacity: 0.7;
}
.top-news__link:hover::after {
  right: -63px;
}
@media screen and (max-width: 1024px) {
  .top-news__link:hover::after {
    right: -32px;
  }
}

.top-news__tag {
  display: inline-block;
  padding: 5px 16px;
  border: 1px solid #4282B8;
  color: #4282B8;
  font-size: 14px;
  font-weight: bold;
}

.top-news__time {
  margin-left: 16px;
  color: #4282B8;
  font-size: 14px;
  font-weight: bold;
}

.top-news__sub-title {
  margin-top: 29px;
  color: #000000;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .top-news__sub-title {
    width: calc(100% - 57px);
    margin-top: 16px;
    font-size: 14px;
  }
}

.modal-inner {
  width: 656px;
  margin-inline: auto;
}

.modal-title {
  margin-top: 21px;
  font-size: 24px;
  line-height: 1.8;
}

.top-news__img-box {
  margin-top: 16px;
}

.top-news__modal-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-news__modal-text {
  line-height: 1.8;
}

.top-news__modal-text + .top-news__modal-text {
  margin-top: 2rem;
}

#modal-0 {
  display: none;
}

#modal-0.is-open {
  display: block;
}

#modal-1 {
  display: none;
}

#modal-1.is-open {
  display: block;
}

#modal-2 {
  display: none;
}

#modal-2.is-open {
  display: block;
}

#modal-3 {
  display: none;
}

#modal-3.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal__container {
  width: 860px;
  max-height: 95%;
  background-color: #fff;
  padding: 16px 0;
  overflow-y: auto;
}

.modal__close {
  margin-top: 61px;
  text-align: center;
}
.modal__close:hover {
  color: #fff;
}

.modal-btn-box {
  text-align: center;
}

.top-contact {
  background: #F8F8F8;
  border-radius: 50px 0px 0px 50px;
  margin-top: 132px;
  padding: 32px 0 53px 24px;
  line-height: 1;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .top-contact {
    border-radius: 0;
    margin-top: 64px;
    padding: 27px 0 41px 0;
  }
}
.top-contact::after {
  content: "";
  background: url(../img/contact.png);
  background-size: contain;
  width: 175px;
  aspect-ratio: 175/256;
  position: absolute;
  top: 31px;
  left: 81.4655172414%;
}
@media screen and (max-width: 1200px) {
  .top-contact::after {
    width: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .top-contact::after {
    width: 59px;
    height: 86px;
    top: -28px;
    left: 296px;
  }
}

.top-contact .section-title-en {
  color: #F8F8F8;
}

.top-contact__contents {
  margin-top: 39px;
  height: 68px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .top-contact__contents {
    max-width: 335px;
    margin: 47px auto 0 auto;
    height: auto;
    flex-direction: column;
  }
}

.top-contact__tel {
  padding: 8px 32px 0 0;
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  position: relative;
  border-right: 1px solid #000000;
}
@media screen and (max-width: 1024px) {
  .top-contact__tel {
    padding: 0 0 24px 0;
    border-right: none;
    border-bottom: 1px solid #000000;
  }
}
.top-contact__tel::after {
  content: "お電話";
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .top-contact__tel::after {
    top: auto;
    left: 58px;
    bottom: 29px;
  }
}

.top-contact__contents-center {
  padding: 8px 32px 0 32px;
  border-right: 1px solid #000000;
}
@media screen and (max-width: 1024px) {
  .top-contact__contents-center {
    padding: 24px 0 0 0;
    border-right: none;
  }
}

.top-contact__tel-number {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
}
.top-contact__tel-number a {
  color: #000000;
}
@media screen and (max-width: 820px) {
  .top-contact__tel-number a:hover {
    opacity: 0.7;
  }
}

.top-contact__b-hours {
  margin-top: 8px;
}
@media screen and (max-width: 1024px) {
  .top-contact__b-hours {
    font-size: 12px;
  }
}

.top-contact__btn-box {
  margin: 6px 0 0 64px;
}
@media screen and (max-width: 1024px) {
  .top-contact__btn-box {
    margin: 36px 0 0 0;
  }
}

.about-philosophy {
  margin-top: 80px;
}
@media screen and (max-width: 1024px) {
  .about-philosophy {
    margin-top: 78px;
  }
}

.about-philosophy__img-box {
  margin-top: 64px;
  width: 923px;
  aspect-ratio: 923/519;
}
@media screen and (max-width: 1024px) {
  .about-philosophy__img-box {
    width: 100%;
    margin-top: 40px;
  }
}
.about-philosophy__img-box img {
  width: 100%;
  height: 100%;
}

.about-company-overview {
  margin-top: 51px;
}
@media screen and (max-width: 1024px) {
  .about-company-overview {
    margin-top: 85px;
  }
}

.about-company-overview__text-box {
  display: flex;
  flex-direction: row;
  gap: 157px;
  margin-top: 64px;
}
@media screen and (max-width: 1024px) {
  .about-company-overview__text-box {
    margin-top: 40px;
    flex-direction: column;
    gap: 50px;
  }
}

.about-company-overview__text {
  width: 465px;
}
@media screen and (max-width: 1024px) {
  .about-company-overview__text {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .about-company-overview__profile-box {
    text-align: center;
  }
}

.about-post {
  margin-top: 16px;
  line-height: 1;
}

.about-name {
  margin-top: 24px;
  font-size: 32px;
  font-weight: bold;
  color: #4282B8;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .about-name {
    font-size: 24px;
  }
}

.about-company-overview__table {
  margin-top: 52px;
  width: 100%;
}

.about-company-overview__tr {
  border-bottom: 1px solid #B1C6DC;
}

.about-company-overview__th,
.about-company-overview__td {
  padding: 30px 0;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .about-company-overview__th,
  .about-company-overview__td {
    padding: 22px 0;
  }
}

.about-company-overview__th {
  padding: 30px 0;
  text-align: left;
  font-weight: bold;
  width: 25%;
  vertical-align: middle;
}
@media screen and (max-width: 1024px) {
  .about-company-overview__th {
    padding: 22px 0;
    width: 30%;
  }
}

.about-company-overview__td span {
  margin-right: 16px;
}
@media screen and (max-width: 1024px) {
  .about-company-overview__td span {
    display: block;
    margin-bottom: 8px;
  }
}

.about-safety {
  margin-top: 56px;
}
@media screen and (max-width: 1024px) {
  .about-safety {
    margin-top: 85px;
  }
}

.about-safety__title:nth-of-type(1) {
  margin-top: 86px;
}
@media screen and (max-width: 1024px) {
  .about-safety__title:nth-of-type(1) {
    margin-top: 34px;
  }
}
.about-safety__title:nth-of-type(2) {
  margin-top: 25px;
}

.about-safety__contents {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 31px;
}
@media screen and (max-width: 1024px) {
  .about-safety__contents {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .about-safety__img-box {
    text-align: center;
  }
}

.about-safety__text {
  width: 642px;
}
@media screen and (max-width: 1024px) {
  .about-safety__text {
    width: 100%;
    margin-top: 26px;
  }
}

#about-page .top-contact {
  margin-top: 193px;
}
@media screen and (max-width: 1024px) {
  #about-page .top-contact {
    margin-top: 64px;
  }
}

.intro::after {
  background: url(../img/service-page-img.png);
  background-size: contain;
  height: 203px;
  left: 538px;
}
@media screen and (max-width: 1024px) {
  .intro::after {
    width: 65px;
    height: 78px;
    left: 266px;
    top: -62px;
  }
}

.service-contents {
  margin-top: 105px;
}
.service-contents:nth-of-type(1) {
  margin-top: 75px;
}

.service__section-img {
  max-width: 960px;
  aspect-ratio: 960/400;
  border-radius: 50px;
}
.service__section-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.service-contents__inner {
  width: 860px;
  margin-left: 50px;
}

.service-contents__title {
  margin-top: 56px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.service-contents__text-box {
  margin-top: 39px;
  padding: 20px 0;
  border-top: 1px solid #B1C6DC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-contents__lead {
  width: 374px;
  font-size: 20px;
  font-weight: bold;
}

.service-contents__text {
  width: 446px;
}

.service-contents__ex-list {
  margin-top: 68px;
  display: flex;
  flex-direction: row;
  gap: 62px;
}

.service-contents__ex-item {
  width: 352px;
}

.service-contents__ex-title {
  font-weight: bold;
  line-height: 1;
}

.service-contents__ex-img {
  width: 352px;
  height: 274px;
  margin-top: 20px;
}
.service-contents__ex-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-contents__figcap {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1;
}

#service-page .top-contact {
  margin-top: 106px;
}/*# sourceMappingURL=style.css.map */