@use "../../global/forward" as*;

.top-contact {
	background: $bg-color;
	border-radius: 50px 0px 0px 50px;
	margin-top: 132px;
	padding: 32px 0 53px 24px;
	line-height: 1;
	position: relative;

	@include mq(lg) {
		border-radius: 0;
		margin-top: 64px;
		padding: 27px 0 41px 0;
	}
}

.top-contact .inner {
	position: relative;

	&::after {
		content: "";
		background: url(../img/contact.png);
		background-size: contain;
		width: 175px;
		aspect-ratio: 175 / 256;
		position: absolute;
		top: 31px;
		right: 40px;
	
		@media screen and (max-width:1200px) {
			width: 120px;
		}
	
		@include mq(lg) {
			width: 59px;
			height: 86px;
			top: -55px;
			right: 20px;
		}
	}
}

.top-contact__contents {
	margin-top: 39px;
	height: 68px;
	display: flex;
	flex-direction: row;

	@include mq(lg) {
		margin: 47px auto 0 auto;
		height: auto;
		flex-direction: column;
	}
}

.top-contact__tel {
	padding: 8px 32px 0 0;
	font-family: "Kanit", sans-serif;
	font-size: 32px;
	position: relative;
	border-right: 1px solid $text-color;

	@include mq(lg) {
		padding: 0 0 24px 0;
		border-right: none;
		border-bottom: 1px solid $text-color;
	}

	&::after {
		content: "お電話";
		font-size: 12px;
		font-weight: bold;
		position: absolute;
		top: 50px;
		left: 0;

		@include mq(lg) {
			top: auto;
			left: 58px;
			bottom: 29px;
		}
	}
}

.top-contact__contents-number {
	padding: 8px 32px 0 32px;
	border-right: 1px solid $text-color;

	@include mq(lg) {
		padding: 24px 0 0 0;
		border-right: none;
	}
}

.top-contact__tel-number {
	font-family: "Kanit", sans-serif;
	font-size: 32px;

	a {
		color: $text-color;
	}

	a:hover {
		@include mq(md) {
			opacity: 0.7;
		}
	}
}

.top-contact__b-hours {
	font-size: 12px;
	margin-top: 8px;
	font-weight: bold;
}

.top-contact__btn-box {
	margin: 6px 0 0 64px;

	@include mq(lg) {
		margin: 36px 0 0 0;
	}
}