@use "../../global/forward" as*;

.top-about {
	margin-top: 76px;
	position: relative;

	@include mq(lg) {
		margin-top: 73px;

	}
}

.top-about__slider-contents {
	background: $bg-color;
	height: 486px;
	display: flex;
	align-items: center;

	@include mq(lg) {
		height: 274px;
	}
}

// .swiper .swiper-wrapper{
// 	transition-timing-function: linear;
// }

.swiper {
  width: 100%;
  height: 360px;
}

.swiper-slide {
  width: 360px;
  height: 360px;
  margin-right: 48px;

		@include mq(lg) {
		width: 200px;
		height: 200px;
	}

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.top-about__title {
	margin-top: 71px;

	@include mq(lg) {
		margin-top: 126px;
	}
}

.top-about__catch-box {
	background: $bg-color;
	width: 172px;
	height: 452px;
	position: absolute;
	top: 254px;
	left: calc(806 / 1160 * 100%);
	z-index: 10;
	display: flex;
	justify-content: center;

	@include mq(lg) {
		width: 112px;
		height: 284px;
		top: 116px;
		right: 27px;
	}

	&::before {
		content: "";
		width: 161px;
		aspect-ratio: 161 / 213;
		background: url(../img/about.png) no-repeat;
		background-size: contain;
		position: absolute;
		top: 198px;
		left: -181px;

		@media screen and (max-width:1200px) {
			width: 120px;
		}

		@include mq(lg) {
			width: 60px;
			height: 80px;
			top: 142px;
			left: -69px;
		}
	}
}

.top-about__catch {
	height: 100%;
	padding-top: 16px;
	writing-mode: vertical-rl;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.5em;

	@include mq(lg) {
		font-size: 24px;
	}

	span {
		color: $main-color;
	}
}

.top-about__text {
	width: 429px;
	margin-top: 40px;

	@include mq(lg) {
		width: 100%;
		font-size: 14px;
	}
}

.top-about-btn {
	margin-top: 40px;

	@include mq(lg) {
		margin-top: 32px;
	}
}