@use "../global/forward" as*;

.footer {
	width: calc(100% - 19.5% );
	margin-left: 19.5%;
	padding: 33px 0 47px 0;
	line-height: 1;
	position: relative;

	@include mq(lg) {
		width: 100%;
		margin-left: 0;
		padding: 24px 0;
		text-align: center;
	}
}

.footer__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;

	@include mq(lg) {
		flex-direction: column;
		gap: 0;
		padding-right: 0;
	}

	@media screen and (max-width:1440px) {
		justify-content: start;
		gap: calc(109 / 1440 * 100%);
	}
}

.footer__logo {
	width: 222px;
	height: 133px;

	@include mq(lg) {
		margin-inline: auto;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.footer__address {
	display: inline-block;
	margin-right: 16px;
	
	&:first-child {
		margin-top: 39px;
	}

	@media screen and (max-width:1200px) {
		line-height: 1.5;
	}

	@include mq(lg) {
		display: block;
		margin-top: 0;
		margin-right: 0;
		font-size: 12px;
		line-height: 1;
	}
}

.footer__address:nth-child(1) {
	@include mq(lg) {
		margin-top: 36px;
	}
}

.footer__address:nth-child(2) {
	@include mq(lg) {
		margin-top: 20px;
	}
}

.address-box {
	display: flex;
	flex-direction: row;
	margin-top: 16px;

	@include mq(lg) {
		margin-top: 20px;
		margin-inline: auto;
		justify-content: center;
		font-size: 12px;
	}
}

.address-term {
	flex-shrink: 0;

	@media screen and (max-width:1200px) {
		line-height: 1.5;
	}

	@include mq(lg) {
		line-height: 1;
	}
}

.address-desc {
	margin-left: 16px;
	flex-shrink: 0;

	@media screen and (max-width:1200px) {
		line-height: 1.5;
	}

	@include mq(lg) {
		line-height: 1;
	}
}

.footer__nav {
	width: 528px;
	padding-top: 25px;

	@include mq(lg) {
		width: 100%;
		padding-top: 0;
		margin-top: 66px;
	}
}

.footer__nav-item {
	display: inline-block;
	margin-bottom: 40px;

	@include mq(lg) {
		display: block;
		margin-bottom: 32px;
	}

	a {
		font-weight: bold;
		color: $text-color;

		&:hover {
			text-decoration: underline $accent-color;
			text-underline-offset: 8px;
		}
	}
}


.footer__nav-item:not(:last-child) {
	margin-right: 24px;
	
	@include mq(lg) {
		margin-right: 0;
	}
}

.footer__nav-item:nth-of-type(3) {
	margin-right: 150px;
}

.footer__nav-contact {
	
	a {
		position: relative;
		padding-left: 28px;

		&::before {
			content: "";
			background: url(../img/mail-icon.png);
			background-size: contain;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 0;
			top: 2px;
		}
	}
}

.footer__small {
	position: absolute;
	right: 56px;
	bottom: 26px;
	font-size: 14px;
	line-height: 1;

	@include mq(lg) {
		font-size: 12px;
		position: inherit;
		margin-top: 26px;
	}
}

