@use "../global/forward" as*;

.header {
	padding-top: 74px;
	padding-left: 40px;
	line-height: 1;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;

	@include mq(lg) {
		width: 100%;
		height: 79px;
		padding: 0;
		background: $white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.header__logo {
	width: 200px;
	height: 121px;
	margin-inline: auto;

	@include mq(lg) {
		width: 98px;
		height: 59px;
		margin: 0;
		padding-top: 10px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	a {
		transition: .3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.header__nav {
	width: 200px;
	margin-top: 25px;
	margin-inline: auto;
	font-weight: bold;

	@include mq(lg) {
		display: none;
	}
}

.header__nav-item {
	width: inherit;
	border-bottom: 1px solid $accent-color;

	a {
		padding: 32px 0;
		display: block;
		color: $text-color;
		font-size: 20px;
		transition: .3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.header__nav-link {
	width: calc(100% - 24px);
	position: relative;
}

.hoverOpen {
	display: inline-block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 42px;
	right: 0;
	transform: translateY(-50%);
	transition: all .5s ease;
}

.hoverOpen::before,
.hoverOpen::after {
	position: absolute;
	content: '';
	width: 24px;
	height: 1px;
	background-color: $main-color;

}

.hoverOpen::before {
	top: 50%;
	right: 0;
	transform: rotate(0deg);
}

.hoverOpen::after {
	top: 50%;
	right: 0;
	transform: rotate(90deg);
}

/* closeというクラスがついたら形状変化 */
.hoverOpen.close::after {
	display: none;
}

.header__about-list,
.header__service-list {
	display: none;
	padding: 20px 0 20px 17px;
	border-bottom: 1px solid $accent-color;
}

.header__about-item,
.header__service-item {
	font-size: 14px;

	a {
		font-size: 14px;
		display: block;
		padding: 12px 0;
		color: $text-color;
		transition: .3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.header__nav-contact {

	img {
		width: 24px;
		height: 24px;
		margin-right: 16px;
		vertical-align: top;
	}
}


/*アコーディオン全体*/
.accordion-area {
	list-style: none;
	width: 96%;
	max-width: 900px;
	margin: 0 auto;
}

.accordion-area li {
	margin: 10px 0;
}

/*アコーディオンで現れるエリア*/
.box {
	display: none;
	/*はじめは非表示*/
}

/*========= ナビゲーションのためのCSS ===============*/

.g-nav {
	pointer-events: none;
	/*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
	position: fixed;
	z-index: -1;
	opacity: 0;
	top: 79px;
	width: 100%;
	height: calc(100vh - 79px);
	/*ナビの高さ*/
	background: $white;
	/*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
.g-nav.panelactive {
	opacity: 1;
	z-index: 999;
	pointer-events: all;
}

/*ナビゲーション*/
.g-nav-list {
	display: none;
	/*ナビゲーション天地中央揃え*/
	position: absolute;
	z-index: 999;
	top: 14px;
	left: 50%;
	transform: translateX( -50%);
	text-align: center;
}

.g-nav.panelactive ul {
	display: block;
}

.g-nav-item a {
	color: $text-color;
	display: block;
	padding: 16px 0;
	letter-spacing: 0.1em;
	font-weight: bold;
	transition: .3s;

	&:hover {
		opacity: 0.7;
	}
}

.g-nav-item img {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: text-bottom;
}

.g-nav-small {
	margin-top: 10px;
}

/*========= ボタンのためのCSS ===============*/

.menu-btn {
	display: none;

	@include mq(lg) {
		display: block;
		cursor: pointer;
		width: 56px;
		height: 48px;
		background: $main-color;
		position: relative;
	}
}

/*×に変化*/
.menu-btn span {
	display: inline-block;
	width: 32px;
	height: 1px;
	background-color: $white;
	transition: all .4s;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.menu-btn span:nth-of-type(1) {
	top: 12px;
}

.menu-btn span:nth-of-type(2) {
	top: 24px;
}

.menu-btn span:nth-of-type(3) {
	top: 36px;
}

.menu-btn.active span:nth-of-type(1) {
	top: 18px;
	transform: translateX(-50%) translateY(6px) rotate(-45deg);
}

.menu-btn.active span:nth-of-type(2) {
	opacity: 0;
}

.menu-btn.active span:nth-of-type(3) {
	top: 30px;
	transform: translateX(-50%) translateY(-6px) rotate(45deg);
}