@use "../global/forward" as*;

.header {
	padding-top: 74px;
	line-height: 1;
}

.header__logo {
	width: 200px;
	height: 121px;
	margin-inline: auto;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.header__nav {
	width: 200px;
	margin-top: 25px;
	margin-inline: auto;
	font-weight: bold;
}

.header__nav-item {
	width: inherit;
	padding: 32px 0;
	border-bottom: 1px solid $accent-color;

	a {
		color: $text-color;
		font-size: 20px;
	}
}

.header__about-list,
.header__service-list {
	padding: 32px 0 32px 17px;
	border-bottom: 1px solid $accent-color;
}

.header__about-item,
.header__service-item {
font-size: 14px;

	a {
		color: $text-color;
	}
}

.header__about-item + .header__about-item,
.header__service-item + .header__service-item {
	margin-top: 24px;
}

.header__nav-contact {
	// padding-left: 40px;
	// position: relative;

	img {
		width: 24px;
		height: 24px;
		margin-right: 16px;
		vertical-align: top;
	}

// 	&::before {
// 		content: "";
// 		background: url(../img/mail-icon.png) no-repeat;
// 		display: block;
// 		background-size: contain;
// 		width: 24px;
// 		height: 24px;
// 		position: absolute;
// 		left: 0;
// 		top: -20px;
// }

}