@use "../global/forward" as*;

.header {
	padding-top: 74px;
	padding-left: 40px;
	line-height: 1;
	position: fixed;
	left: 0;
	top: 0;
}

.header__logo {
	width: 200px;
	height: 121px;
	margin-inline: auto;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	a {
		transition: .3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.header__nav {
	width: 200px;
	margin-top: 25px;
	margin-inline: auto;
	font-weight: bold;
}

.header__nav-item {
	width: inherit;
	border-bottom: 1px solid $accent-color;
	position: relative;

	a {
		padding: 32px 0;
		display: block;
		color: $text-color;
		font-size: 20px;
		transition: .3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.header__nav-link {
	width: calc(100% - 24px);
}

.title {

	transition: all .5s ease;
}

summary {
	list-style: none; /* デフォルトのマーカーを非表示にする */
	cursor: pointer;  /* カーソルをポインターにする */
}

.headerOpen {
	display: inline-block;
	background-color: pink;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.headerOpen::before,
.headerOpen::after {
	position: absolute;
	content: '';
	width: 24px;
	height: 1px;
	background-color: $main-color;

}

.headerOpen::before {
	top: 50%;
	right: 0;
	transform: rotate(0deg);
}

.headerOpen::after {
	top: 50%;
	right: 0;
	transform: rotate(90deg);
}

/* closeというクラスがついたら形状変化 */
.headerOpen.close::after {
	display: none;
}

.header__about-list,
.header__service-list {
	display: none;
	padding: 20px 0 20px 17px;
	border-bottom: 1px solid $accent-color;
}

.header__about-item,
.header__service-item {
	font-size: 14px;

	a {
		font-size: 14px;
		display: block;
		padding: 12px 0;
		color: $text-color;
		transition: .3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.header__nav-contact {

	img {
		width: 24px;
		height: 24px;
		margin-right: 16px;
		vertical-align: top;
	}
}


/*アコーディオン全体*/
.accordion-area{
	list-style: none;
	width: 96%;
	max-width: 900px;
	margin:0 auto;
}

.accordion-area li{
	margin: 10px 0;
}

/*アコーディオンで現れるエリア*/
.box {
	display: none;/*はじめは非表示*/
}