@use "../../global/forward" as*;


// Philosophy
.about-philosophy {
	margin-top: 80px;

	@include mq(lg) {
		margin-top: 78px;
	}
}

.about-philosophy__img-box {
	margin-top: 64px;
	width: calc(923 / 1160 * 100%);
	aspect-ratio: 923 / 519;
	
	@include mq(lg) {
		width: 100%;
		margin-top: 40px;
	}

	img {
		width: 100%;
		height: 100%;
		
	}
}

// company-overview
.about-company-overview {
	margin-top: 51px;

	@include mq(lg) {
		margin-top: 85px;
	}
}

.about-company-overview__text-box {
	display: flex;
	flex-direction: row;
	gap: calc(157 / 1440 * 100%);
	margin-top: 64px;

	@include mq(lg) {
		margin-top: 40px;
		flex-direction: column;
		gap: 50px;
	}
}

.about-company-overview__text {
	width: calc(465 / 1440 * 100vw);

	@include mq(lg) {
		width: 100%;
	}
}

.about-company-overview__profile-box {

	@include mq(lg) {
		text-align: center;
	}
}

.about-company-overview__img {
	width: calc(331 / 1440 * 100vw);
	aspect-ratio: 331 / 425;
	max-width: 331px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	@include mq(lg) {
		margin-inline: auto;
		width: 80%;
	}
}

.about-post {
	margin-top: 16px;
	line-height: 1;
}

.about-name {
	margin-top: 24px;
	font-size: 32px;
	font-weight: bold;
	color: $main-color;
	line-height: 1;

	@include mq(lg) {
		font-size: 24px;
	}
}

.about-company-overview__table {
	margin-top: 52px;
	width: 100%;
}

.about-company-overview__tr {
	border-bottom: 1px solid $accent-color;
}

.about-company-overview__th,
.about-company-overview__td {
	padding: 30px 0;

	@include mq(lg) {
		padding: 22px 0;
	}
}

.about-company-overview__th {
	padding: 30px 0;
	text-align: left;
	font-weight: bold;
	width: 25%;
	vertical-align: middle;

	@include mq(lg) {
		padding: 22px 0;
		width: 30%;
	}
}

.about-company-overview__td span {
	margin-right: 16px;

	@include mq(lg) {
		display: block;
	}
}

// safety
.about-safety {
	margin-top: 56px;

	@include mq(lg) {
		margin-top: 85px;
	}
}

.about-safety__title {

	&:nth-of-type(1) {
		margin-top: 86px;

		@include mq(lg) {
			margin-top: 40px;	
		}
	}
	&:nth-of-type(2) {
		margin-top: 30px;
	}
}

.about-safety__contents {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 31px;
	gap: 44px;

	@include mq(lg) {
		flex-direction: column;
		gap: 26px;
	}
}

.about-safety__img-box {
	@include mq(lg) {
		text-align: center;
	}
}

.about-safety__text {
	width: 642px;

	@include mq(lg) {
		width: 100%;
	}
}

#about-page .top-contact {
	margin-top: 193px;

	@include mq(lg) {
		margin-top: 64px;
	}
}