@use "../global/forward" as*;

.sp-br {
	display: none;

	@include mq(md) {
		display: block;
	}
}

.middle-br {
	display: none;

	@media screen and (max-width:1200px) {
		display: block;	
	}

	@include mq(lg) {
		display: none;
	}
}

.pc-br {
	@include mq(lg) {
		display: none;
	}
}

.pc-large-br {
	display: none;

	@media screen and (min-width:1400px) {
		display: block;
	}
}