@use "../global/forward" as*;

.btn-more {
	display: block;
	width: 240px;
	padding: 22px 0;
	border: 1px solid $text-color;
	border-radius: 10px;
	text-align: center;
	color: $text-color;
	font-weight: bold;
	line-height: 1;
	position: relative;
	transition: .3s;

	&::after {
		content: "";
		width: 10px;
		height: 10px;
		background: $text-color;
		border-radius: 50%;
		position: absolute;
		top: 25px;
		right: 25px;
	}

	&:hover {
		background: $text-color;
		color: $white;

		&::after {
			width: 14px;
			height: 14px;
			background: $white;
			top: 23px;
			right: 23px;
		}
	}
}

.top-contact__btn {
	width: 284px;
	background-color: $white;
	position: relative;
	text-align-last: left;
	padding-left: 68px;

	&::before {
		content: "";
		background: url(../img/main-icon.svg);
		background-size: contain;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		left: 40px;
	}

	&:hover::before {
		filter: brightness(0) invert(1);
	}
}

.btn-down {
	display: block;
	width: 208px;
	padding: 11px 0 34px 0;
	border: 1px solid $main-color;
	border-radius: 10px;
	border-radius: 10px;
	color: $text-color;
	line-height: 1;
	text-align: center;
	position: relative;
	transition: .3s;
	
	&::after {
		content: "";
		background: url(../img/down-icon.svg);
		width: 10px;
		height: 10px;
		position: absolute;
		left: 50%;
		bottom: 11px;
		transform: translateX(-50%);
	}

	&:hover {
		background: $main-color;
		color: $white;

		&::after {
			filter: brightness(0) invert(1);
		}
	}
}