@use "../global/forward" as*;

.btn-more {
	width: 240px;
	height: 60px;
	border: 1px solid $text-color;
	border-radius: 10px;
	font-weight: bold;
	position: relative;
	transition: .3s;
	
	a {
		color: $text-color;
		width: inherit;
		height: inherit;
		display: grid;
		place-content: center;
	}

	&::after {
		content: "";
		width: 10px;
		height: 10px;
		background: $text-color;
		border-radius: 50%;
		position: absolute;
		top: 25px;
		right: 25px;
	}

	&:hover {
		background: $text-color;

		a {
			color: $white;
		}

		&::after {
			width: 14px;
			height: 14px;
			background: $white;
			top: 23px;
			right: 23px;
		}
	}
}


.btn-down {
	width: 208px;
	height: 61px;
	border: 1px solid $main-color;
	border-radius: 10px;
	
	a {
		display: block;
		border-radius: 10px;
		padding-top: 11px;
		width: 100%;
		height: 100%;
		color: $text-color;
		line-height: 1;
		text-align: center;
		transition: .3s;

		&:hover {
			background: $main-color;
			color: $white;
		}
	}

	img {
		margin-top: 13px;
		width: 10px;
		height: 10px;
	}
}
.about-us__item .btn-hover {
	display: none;
}
.about-us__item:hover .btn-hover {
	display: inline-block;
}
.about-us__item:hover .btn-normal {
	display: none;
}
