@use "../global/forward" as*;

.section-title {
	color: $text-color;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	position: relative;

	@include mq(lg) {
		font-size: 20px;
	}

	&::after {
		content: "";
		color: $white;
		font-family: "Kanit", sans-serif;
		font-size: 124px;
		font-weight: bold;
		-webkit-text-stroke: 1px $main-color;
		position: absolute;
		top: 44px;
		left: 0;

		@include mq(lg) {
			font-size: 72px;
			top: 36px;
		}
	}
}