@use "../../global/forward" as*;

.contact-page .intro {
	margin-top: 69px;

	&::after {
		background: url(../img/contact-img.png) no-repeat;
		background-size: contain;
		height: 178px;
	}
}

.contact__flow-container {
	margin-top: 62px;
	display: flex;
	flex-direction: row;
	gap: 150px;
}

.contact__list {
	display: flex;
	flex-direction: row;
}

.contact__item {
	counter-increment: mycounter;
	width: 209px;
	height: 58px;
	background: $main-color;
	color: $white;
	text-align: center;
	position: relative;

	&::before {
		content: counter(mycounter, decimal-leading-zero);
		display: block;
		font-size: 12px;
	}

	

	&:nth-child(2) {
		background: $white;
		color: $main-color;
		border: 3px solid $main-color;
		margin-left: 52px;

		&::after {
			content: "";
			width: 52px;
			height: 1px;
			background: $main-color;
			position: absolute;
			top: 50%;
			left: -54px;
		}
	}
}

.contact__tel-box {
	line-height: 1;
}

.contact__tel-text {
	font-weight: bold;
}

.contact__tel-number {
	display: block;
	margin-top: 29px;
	font-size: 32px;
	font-family: "Kanit", sans-serif;
	color: $text-color;
}

.contact__b-hours {
	margin-top: 14px;
	font-size: 12px;
	font-weight: bold;
}

