@use "../../global/forward" as*;

.contact-page .intro {
	margin-top: 69px;

	&::after {
		background: url(../img/contact-img.png) no-repeat;
		background-size: contain;
		height: 178px;
	}
}

.contact__flow-container {
	margin-top: 62px;
	display: flex;
	flex-direction: row;
	gap: 150px;
}

.contact__list {
	display: flex;
	flex-direction: row;
}

.contact__item {
	counter-increment: mycounter;
	width: 209px;
	height: 58px;
	background: $main-color;
	color: $white;
	text-align: center;
	position: relative;

	&::before {
		content: counter(mycounter, decimal-leading-zero);
		display: block;
		font-size: 12px;
	}

	

	&:nth-child(2) {
		background: $white;
		color: $main-color;
		border: 3px solid $main-color;
		margin-left: 52px;

		&::after {
			content: "";
			width: 52px;
			height: 1px;
			background: $main-color;
			position: absolute;
			top: 50%;
			left: -54px;
		}
	}
}

.contact__tel-box {
	line-height: 1;
}

.contact__tel-text {
	font-weight: bold;
}

.contact__tel-number {
	display: block;
	margin-top: 29px;
	font-size: 32px;
	font-family: "Kanit", sans-serif;
	color: $text-color;
}

.contact__b-hours {
	margin-top: 14px;
	font-size: 12px;
	font-weight: bold;
}

.contact-form {
	margin-top: 17px;
	line-height: 1;
	font-weight: bold;
}

.form__item {
	margin-top: 26px;
}

.form__label {

	span {
		margin-left: 8px;
		font-size: 12px;
	}
}

sup {
	color: #FE0000;
	vertical-align: baseline;
}

.form__radio-box {
	margin-top: 27px;
}

.form__radio {
	display: block;
}

.form__radio + .form__radio {
	margin-top: 14px;
}

.form__text {
	display: block;
	width: 470px;
	height: 60px;
	margin-top: 27px;
	background: $bg-color;
	border: 1px solid $accent-color;
}

::placeholder {
	font-weight: bold;
	color: #C2C2C2;
	font-family: "Zen Kaku Gothic New", sans-serif;

}

.form__name-box {
	display: flex;
	flex-direction: row;
	gap: 40px;

	.form__text {
		width: 215px;
	}
}

.form__check {
	margin-top: 51px;
	font-weight: normal;
	margin-left: 71px;
}

.form__item-btn {
	margin-top: 69px;
}

.form__input-check {
	border: 1px solid $main-color;
}

.form__item-btn {
	margin-left: 92px;
}

.submit-btn {
	width: 284px;
	background: $main-color;
	color: $white;
	border: none;

	&::after {
		background: $white;
	}

	&:hover {
		background: $white;
		color: $main-color;
		border: 1px solid $main-color;

		&::after {
			background: $main-color;
		}
	}
}

.contact-page .top-contact {
	margin-top: 72px;
}