@use "../../global/forward" as*;

.contact-page .intro {
	margin-top: 69px;

	&::after {
		background: url(../img/contact-img.png) no-repeat;
		background-size: contain;
		height: 178px;
	}
}

.contact-page .intro__text {
	@include mq(lg) {
		max-width: 570px;
	}
}

.contact__flow-container {
	margin-top: 62px;
	display: flex;
	flex-direction: row;
	gap: 72px;

	@include mq(lg) {
		flex-direction: column;
	}
}

.contact__list {
	display: flex;
	flex-direction: row;
}

.contact__item {
	counter-increment: mycounter;
	width: 209px;
	height: 58px;
	background: $main-color;
	color: $white;
	text-align: center;
	position: relative;

	@include mq(lg) {
		width: 138px;
	}

	&::before {
		content: counter(mycounter, decimal-leading-zero);
		display: block;
		font-size: 12px;
	}



	&:nth-child(2) {
		background: $white;
		color: $main-color;
		border: 3px solid $main-color;
		margin-left: 52px;

		@include mq(lg) {
			margin-left: 32px;
		}

		&::after {
			content: "";
			width: 52px;
			height: 1px;
			background: $main-color;
			position: absolute;
			top: 50%;
			left: -54px;

			@include mq(lg) {
				width: 32px;
				left: -34px;
			}
		}
	}
}

.contact__tel-box {
	line-height: 1;
}

.contact__tel-text {
	font-weight: bold;

	@include mq(lg) {
		font-size: 14px;
	}
}

.contact__tel-number {
	margin-top: 29px;
	font-size: 32px;

	@include mq(lg) {
		font-size: 24px;
	}
}

.contact__tel-number-link {
	display: block;
	font-size: 32px;
	font-family: "Kanit", sans-serif;
	color: $text-color;

	@include mq(lg) {
		font-size: 24px;
	}
}

.contact__b-hours {
	margin-top: 14px;
	font-size: 12px;
	font-weight: bold;

	@include mq(lg) {
		font-size: 10px;
	}
}

.contact-form {
	margin-top: 17px;
	line-height: 1;
	font-weight: bold;

	@include mq(lg) {
		margin-top: 72px;
	}
}

.form__item {
	margin-top: 26px;
}

.form__label {
	display: block;
	width: 470px;
	cursor: pointer;

	@include mq(lg) {
		width: 100%;
	}
}

.label-small {
	margin-left: 8px;
	font-size: 12px;
}

sup {
	color: #FE0000;
	vertical-align: baseline;
}

.form__radio-box {
	margin-top: 27px;
}

.form__radio {
	display: block;
	cursor: pointer;
}

.form__radio+.form__radio {
	margin-top: 14px;
}

.form__radio-button {
	appearance: none;
	position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid $main-color;
  border-radius: 50%;
  vertical-align: -2px;
	margin-right: 8px;

	&:hover {
		cursor: pointer;
	}
}

.form__radio-button:checked:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $main-color;
}

.form__text {
	display: block;
	width: 470px;
	height: 60px;
	margin-top: 27px;
	background: $bg-color;
	border: 1px solid $accent-color;
	padding: 0 16px;
	font-size: 16px;

	@include mq(lg) {
		width: 300px;
	}
}

::placeholder {
	font-weight: bold;
	color: #C2C2C2;
	font-family: "Zen Kaku Gothic New", sans-serif;

}

.form__name-box {
	display: flex;
	flex-direction: row;
	gap: 40px;

	@include mq(lg) {
		gap: 20px;
	}

	.form__text {
		width: 215px;

		@include mq(lg) {
			width: 140px;
		}
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.form__check {
	margin-top: 51px;
	font-weight: normal;
	margin-left: 71px;

	@include mq(lg) {
		margin-top: 32px;
		margin-left: 0;
	}
}

.form__item-btn {
	margin-top: 69px;
	margin-left: 92px;

	@include mq(lg) {
		text-align: left;
		margin-top: 24px;
		margin-left: 0;
	}
}

.form__input-check {
	appearance: none;
	margin: 0;
	margin-right: 8px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-color: $main-color;
	background-color: #fff;
	position: relative;
	top: -2px;
	transition: .3s;
}

.form__input-check:checked {
	border-color: $bg-color;
	background-color: $main-color;
	position: relative;
}

.form__input-check:checked::after {
	display: block;
	position: absolute;
	content: "";
	width: 7px;
	height: 3px;
	border-bottom: 3px solid;
	border-left: 3px solid;
	border-color: $white;
	transform: rotate(-45deg);
	top: 50%;
	left: 2px;
	margin-top: -4px;
}

.submit-btn.btn-more {
	width: 284px;
	background: $main-color;
	color: $white;
	border: 1px solid $main-color;
	opacity: 0.2;
	cursor: default;

	&::after {
		background: $white;
	}

	&:hover {

		&::after {
			width: 10px;
			height: 10px;
			top: 25px;
			right: 25px;
		}
	}

	&.active {
		opacity: 1;
		cursor: pointer;

		&:hover {
			background: $white;
			color: $main-color;

			&::after {
				background: $main-color;
				width: 14px;
				height: 14px;
				top: 23px;
				right: 23px;
			}
		}
	}
}

.contact-page .top-contact {
	margin-top: 72px;
}